<figure class="{f:if(condition:'{class}',then:'figure-picture {class}',else:'figure-picture')}">
    <f:if condition="{file.link}">
        <f:then>
            <f:link.typolink parameter="{file.link}">
                <f:image image="{file}" title="{file.title}" alt="{file.alternative}" loading="{f:if(condition:'{loading}',then:'{loading}',else:'eager')}" additionalAttributes="{srcset: '{f:uri.image(image: file, maxWidth: 768)} 768w,{f:uri.image(image: file, maxWidth: 1024)} 1024w,{f:uri.image(image: file, maxWidth: 1250)} 1250w,{f:uri.image(image: file, maxWidth: 1450)} 1450w,{f:uri.image(image: file, maxWidth: 1920)} 1920w',sizes: '(min-width: 1250px) {f:if(condition:\'{renderWidth}\',then:\'{renderWidth}\',else:\'50vw\')}, 100vw'}" />
            </f:link.typolink>
        </f:then>
        <f:else>
            <f:image image="{file}" title="{file.title}" alt="{file.alternative}" loading="{f:if(condition:'{loading}',then:'{loading}',else:'eager')}" additionalAttributes="{srcset: '{f:uri.image(image: file, maxWidth: 768)} 768w,{f:uri.image(image: file, maxWidth: 1024)} 1024w,{f:uri.image(image: file, maxWidth: 1250)} 1250w,{f:uri.image(image: file, maxWidth: 1450)} 1450w,{f:uri.image(image: file, maxWidth: 1920)} 1920w',sizes: '(min-width: 1250px) {f:if(condition:\'{renderWidth}\',then:\'{renderWidth}\',else:\'50vw\')}, 100vw'}" />
        </f:else>
    </f:if>

    <f:if condition="{file.description}">
        <figcaption>{file.description}</figcaption>
    </f:if>
</figure>