// Imports
@import "variables";
@import "functions";

// Container code here...
.container--0 {
  //width: 100%;
  max-width: 70rem;
  margin: 0 auto;

  .container--1 {
    //width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  @media screen and (max-width: breakpoint('lg')) {
    max-width: 50rem;
  }

  @media screen and (max-width: breakpoint('md')) {
    max-width: 38rem;
  }
}

.container--1 {
  width: calc(100% + 2rem);
  max-width: calc(100% + 2rem);
  margin: 0 -1rem;
  padding: 0 1rem;

  .container--1 {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}

.no-mobile {
  @media screen and (max-width: breakpoint('md')) {
    display: none;
  }
}
