// Imports
@import 'functions';
@import 'variables';


// Flickity
.slider-content {
  width: 100%;

  .slider-cell {
    width: 100%;
  }
}

.flickity-viewport {
  width: 100%;
}

.flickity-prev-next-button {
    top: 50%;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transform: translateY(-50%);
    color: color('white');
    background-color: color('primary');
  	padding: 0;
  
  	@media screen and (max-width: breakpoint('md')) {
    	display: none;
    }
  
  	&:hover {
        color: color('white');
        background-color: color('secondary');
  	}
  
  	.flickity-button-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1rem;
        height: 1rem;
        transform: translate(-50%, -50%);
    }
}

.flickity-prev-next-button.previous {
    left: 0.55rem;
    right: auto;
}

.flickity-prev-next-button.next {
    right: 0.55rem;
    left: auto;
}

.flickity-page-dots {
    @media screen and (min-width: breakpoint('md')) {
    	display: none;
    }
}
