// Imports
@import 'variables';
@import 'functions';

// Mobile Navigation code here...
nav.mobile {
  display: none;

  @media screen and (max-width: breakpoint('lg')) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .content-logo {
    .logo {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 1.5rem 1rem 0.5rem 1rem;
      z-index: 1000;

      img {
        width: auto;
        height: 2.88rem;
      }
      
      svg {
        width: auto;
        height: 2.88rem;
      }
    }
  }

  .menu-button {
    position: fixed;
    top: 1rem;
    left: auto;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    appearance: none;
    opacity: 0;
    cursor: pointer;
    z-index: 1010;

    &:hover {
      &::before {
        top: 0;
        right: 0;
      }
    }

    &:checked {
      &::before {
        opacity: 0;
      }

      & ~ .menu-label {
        background-color: transparent;

        &::before {
          transform-origin: right;
          transform: rotate(-45deg);
          background-color: color('error');
        }

        &::after {
          transform-origin: right;
          transform: rotate(45deg);
          background-color: color('error');
        }
      }

      & ~ .mobile-container {
        right: 0;
      }
    }
  }

  .menu-label {
    position: fixed;
    top: 2.5rem;
    right: 1.5rem;
    width: 2rem;
    height: 3px;
    background-color: color('anthrazit');
    z-index: 1005;

    &::before {
      content: "";
      position: absolute;
      top: -0.7rem;
      left: 0;
      width: 2rem;
      height: 3px;
      margin-bottom: 0.5rem;
      background-color: color('anthrazit');
      transition: 0.5s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0.7rem;
      left: 0;
      width: 2rem;
      height: 3px;
      margin-bottom: 0.5rem;
      background-color: color('anthrazit');
      transition: 0.5s;
    }
  }

  .mobile-container {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    max-width: 40rem;
    background-color: color('white');
    margin: 0;
    z-index: 1001;
    transition: 0.5s;

    .active {
      color: color('primary')!important;

      &:hover {
        color: color('primary')!important;
      }
    }

    .mobile-menu {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 4rem 2rem 0;

      ul {
        list-style: none;
        padding: 0;
        margin: 1rem 0 0 0;
      }

      .parent {
    	position: relative;
    	top: 0;
    	left: 0;
        padding: 1rem 0;
        font-weight: bold;

        a {
      	  color: color('anthrazit');
          text-decoration: none;
        }
  
  		.parent-link {
    	  font-size: 1.94em;
    	}
  
  		.mobile-dropdown {
    		height: 0;
  			margin: 0;
  			overflow: hidden;
  			transition: height, margin-top 0.25s;
    	}
      }

	  .has-children {
  		&::after {
          content: url('../../icons/dropdown.svg');
          position: absolute;
          top: 1.5rem;
          right: 0;
  		  transition: 0.25s;
        }
	  }

	  .parent-open {
  		&::after {
          transform: rotate(90deg);
        }

  		.mobile-dropdown {
    	  height: 100%;
  		  margin: 1rem 0 0 0;
    	}
  	  }

      .child {
  		.child-link {
    	  font-size: 1.38em;
    	  font-weight: normal;
    	}
      }
    }
  }

  .language-container {
    position: absolute;
    bottom: 0;
    left: 0;

    ul {
      list-style: none;
    }

    .language-menu {
      display: flex;

      li {
        padding: 0 1rem;
      }

      li:first-child {
        padding-left: 0;
      }

      li:last-child {
        padding-right: 0;
      }

      .active {
        a {
          color: color('primary');
        }
      }
    }
  }
}

nav.mobile-fixed {
  background-color: color('white');
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 10%);
}
