// Imports
@import 'functions';


// Slider Container
:root {
  --swiper-theme-color: #0630d1;
}

.slider-content {
  position: relative;
  width: 100%;
  overflow: hidden;

  .swiper-wrapper {
    display: -webkit-box;
    width: 100%;

    .slider-cell {
      width: 100%;
      max-width: 100%;
    }
  }
}
