// Imports
@import 'functions';
@import 'variables';


// Social & Privacy
.social-privacy-container {
  margin-top: 1rem;
  
  @media screen and (max-width: breakpoint('md')) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-links {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2.38rem;
    
    @media screen and (max-width: breakpoint('md')) {
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .social-link {
      margin-right: 2.61rem;
      
      @media screen and (max-width: breakpoint('md')) {
        margin: 0.5rem 1.61rem;
      }
      
      a {
        text-decoration: none;
      }
      
      img {
        width: 1.55rem;
        height: auto;
        max-width: unset;
      }
      
      &:last-child {
        @media screen and (min-width: breakpoint('md')) {
          margin-right: 0;
        }
      }
    
      &:hover {
    	a {
      	  img {
        	animation: fadeInOut 2s infinite;
          }
        }
      }
    }
  }
  
  .privacy-links {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;
  
    @media screen and (min-width: breakpoint('md')) {
      margin-bottom: 0;
    }
    
    .privacy-link {
      font-size: 0.75em;
      margin-right: 2.5rem;
    
      a {
        text-decoration: none;
      
      	&:hover {
      	  color: color('green');
        }
      }
    
      &:last-child {
      	margin-right: 0;
      }
    }
  }
}

@keyframes fadeInOut {
  0% { opacity: 1; }
  50% { opacity: 0.25; }
  100% { opacity: 1; }
}