.icon-text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.icon-text-container .element {
  width: 100%;
  max-width: 20rem;
  margin-top: 2.38rem;
}
@media screen and (min-width: 48em) {
  .icon-text-container .element {
    margin-top: 7.38rem;
  }
}
.icon-text-container .element .image {
  margin-bottom: 2.44rem;
}
.icon-text-container .element .text {
  max-width: 18.88rem;
}
.icon-text-container .element .text p {
  line-height: 1.66rem;
}
