.content-main {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.scroll-hidden .content-main {
  filter: blur(2px);
}

.btn-primary {
  display: inline-block;
  color: #fff;
  font-size: 1.11em;
  padding: 0.88rem 1.94rem;
  border: 1px solid #0630d1;
  border-radius: 5px;
  background-color: #0630d1;
  margin-top: 4.44rem;
}
.btn-primary:hover {
  color: #fff;
  box-shadow: 0 0 1rem rgba(6, 48, 209, 0.25);
}

.btn-secondary {
  display: inline-block;
  color: #0630d1;
  font-size: 1.11em;
  padding: 0.88rem 1.94rem;
  border: 1px solid #0630d1;
  border-radius: 5px;
  background-color: #fff;
}
.btn-secondary:hover {
  color: #0630d1;
  box-shadow: 0 0 1rem rgba(6, 48, 209, 0.25);
}

.ce-media .ce-center {
  display: flex;
  justify-content: center;
}
.ce-media .ce-left {
  display: flex;
  justify-content: flex-start;
}
.ce-media .ce-right {
  display: flex;
  justify-content: flex-end;
}
.ce-media .image img {
  max-width: 100%;
  height: auto;
}
.ce-media .video {
  width: 100%;
}

.ce-uploads li div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ce-gallery {
  overflow: unset;
}

.grey-box, .frame-grey-box {
  padding: 0.25rem;
  background-color: #f5f5f5;
}

.scroll-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: -100%;
  bottom: 4rem;
  width: 2.2rem;
  height: 2.2rem;
  background-color: #0630d1;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
}
.scroll-top svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.75rem;
  height: 1.75rem;
}
.scroll-top svg path {
  fill: #fff;
}
.scroll-top img {
  width: 3rem;
  height: 3rem;
}

.scroll-top-active {
  right: 1rem;
}
.scroll-top-active:hover {
  background-color: #0630d1;
}

.site_error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.site_error .site_error_num {
  font-size: 3em;
  margin-right: 1rem;
}

.fade-in {
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
