nav.mobile {
  display: none;
}
@media screen and (max-width: 67.5em) {
  nav.mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
}
nav.mobile .content-logo .logo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1.5rem 1rem 0.5rem 1rem;
  z-index: 1000;
}
nav.mobile .content-logo .logo img {
  width: auto;
  height: auto;
}
nav.mobile .content-logo .logo svg {
  width: auto;
  height: 2.88rem;
}
nav.mobile .menu-button {
  position: fixed;
  top: 1rem;
  left: auto;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  appearance: none;
  opacity: 0;
  cursor: pointer;
  z-index: 1010;
}
nav.mobile .menu-button:hover::before {
  top: -10rem;
  right: -10rem;
  width: 18rem;
  height: 18rem;
}
nav.mobile .menu-button:checked::before {
  opacity: 0;
}
nav.mobile .menu-button:checked ~ .menu-label {
  background-color: transparent;
}
nav.mobile .menu-button:checked ~ .menu-label::before {
  transform-origin: right;
  transform: rotate(-45deg);
  background-color: #d42525;
}
nav.mobile .menu-button:checked ~ .menu-label::after {
  transform-origin: right;
  transform: rotate(45deg);
  background-color: #d42525;
}
nav.mobile .menu-button:checked ~ .mobile-container {
  right: 0;
}
nav.mobile .menu-label {
  position: fixed;
  top: 2.5rem;
  right: 1.5rem;
  width: 2rem;
  height: 0.2rem;
  background-color: #3c55ff;
  z-index: 1005;
}
nav.mobile .menu-label::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  left: 0;
  width: 2rem;
  height: 0.2rem;
  margin-bottom: 0.5rem;
  background-color: #3c55ff;
  transition: 0.5s;
}
nav.mobile .menu-label::after {
  content: "";
  position: absolute;
  top: 0.7rem;
  left: 0;
  width: 2rem;
  height: 0.2rem;
  margin-bottom: 0.5rem;
  background-color: #3c55ff;
  transition: 0.5s;
}
nav.mobile .mobile-container {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  max-width: 40rem;
  background-color: #ffffff;
  margin: 0;
  z-index: 1001;
  transition: 0.5s;
}
nav.mobile .mobile-container .active {
  color: #354f5d !important;
}
nav.mobile .mobile-container .active:hover {
  color: #354f5d !important;
}
nav.mobile .mobile-container .mobile-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 4rem 2rem 0;
}
nav.mobile .mobile-container .mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
}
nav.mobile .mobile-container .mobile-menu .parent {
  padding: 1rem 0;
  font-weight: bold;
}
nav.mobile .mobile-container .mobile-menu .parent a {
  text-decoration: none;
}
nav.mobile .mobile-container .mobile-menu .parent a:hover {
  color: #0630D1;
}
nav.mobile .mobile-container .mobile-menu .child {
  font-size: 0.9em;
  font-weight: normal;
}
nav.mobile .language-container {
  position: absolute;
  bottom: 0;
  left: 0;
}
nav.mobile .language-container ul {
  list-style: none;
}
nav.mobile .language-container .language-menu {
  display: flex;
}
nav.mobile .language-container .language-menu li {
  padding: 0 1rem;
}
nav.mobile .language-container .language-menu li:first-child {
  padding-left: 0;
}
nav.mobile .language-container .language-menu li:last-child {
  padding-right: 0;
}
nav.mobile .language-container .language-menu .active a {
  color: #354f5d;
}

/*# sourceMappingURL=nav-mob.css.map */
