@media screen and (max-width: 67.5em) {
  nav.desktop {
    display: none;
  }
}
nav.desktop .content-logo {
  margin-top: 2.77rem;
  transition: margin-top 0.5s;
}
nav.desktop .content-logo .logo {
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 1000;
}
nav.desktop .content-logo .logo img {
  width: auto;
  height: auto;
}
nav.desktop .content-logo .logo svg {
  width: auto;
  height: 3.88rem;
}
nav.desktop .desktop-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  transition: background-color 0.25s;
}
nav.desktop .desktop-container .wrap-menu-lang {
  margin: 1.44rem 0 0;
  transition: margin-top 0.5s;
}
nav.desktop .desktop-container .buy-now {
  margin: 0 0 0 2.77rem;
}
nav.desktop .desktop-container .desktop-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
}
nav.desktop .desktop-container .desktop-menu ul {
  list-style: none;
}
nav.desktop .desktop-container .desktop-menu .parent {
  position: relative;
  top: 0;
  right: 0;
  font-weight: 400;
  padding: 1rem;
  margin-right: 1rem;
}
nav.desktop .desktop-container .desktop-menu .parent a {
  font-size: 1.11em;
  text-decoration: none;
  color: #354f5d;
}
nav.desktop .desktop-container .desktop-menu .parent a:hover {
  color: #0630d1;
}
nav.desktop .desktop-container .desktop-menu .parent .desktop-dropdown {
  display: none;
  position: absolute;
  top: 3rem;
  right: -1rem;
  min-width: 5rem;
  background-color: #fff;
  text-align: right;
  border-top: 0;
  padding: 0.5rem 0;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
}
nav.desktop .desktop-container .desktop-menu .parent:hover .desktop-dropdown {
  display: block;
}
nav.desktop .desktop-container .desktop-menu .parent:hover::after {
  transform: translateY(-45%) rotate(90deg);
}
nav.desktop .desktop-container .desktop-menu .parent:first-child {
  padding-left: 0;
}
nav.desktop .desktop-container .desktop-menu .has-children::after {
  content: url("../../icons/dropdown.svg");
  position: absolute;
  top: 50%;
  right: -0.5rem;
  transform: translateY(-40%);
  transition: 0.5s;
}
nav.desktop .desktop-container .desktop-menu .child {
  font-size: 0.9em;
  font-weight: normal;
  padding: 0.5rem 2rem;
}
nav.desktop .language-menu {
  position: relative;
  top: 0;
  right: 0;
  list-style: none;
  font-weight: bold;
  padding: 1rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
nav.desktop .language-menu ul {
  list-style: none;
}
nav.desktop .language-menu a {
  font-size: 1.11em;
  text-decoration: none;
  color: #354f5d;
}
nav.desktop .language-menu a:hover {
  color: #0630d1;
}
nav.desktop .language-menu::after {
  content: url("../../icons/dropdown.svg");
  position: absolute;
  top: 50%;
  right: -0.5rem;
  transform: translateY(-40%);
  transition: 0.5s;
}
nav.desktop .language-menu:hover .language {
  display: block;
}
nav.desktop .language-menu:hover::after {
  animation: fadeInOut 2s infinite;
}
nav.desktop .language-menu .language {
  display: none;
  position: absolute;
  top: 3rem;
  right: -1rem;
  min-width: 5rem;
  background-color: #fff;
  text-align: right;
  border-top: 0;
  padding: 0.5rem 0;
}
nav.desktop .language-menu .language li {
  font-size: 0.9em;
  font-weight: normal;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.desktop-fixed .desktop-container {
  background-color: #fff;
}
.desktop-fixed .desktop-container .content-logo {
  margin-top: 0.77rem;
}
.desktop-fixed .desktop-container .wrap-menu-lang {
  margin: 0 !important;
}
