.social-privacy-container {
  margin-top: 1rem;
}
@media screen and (max-width: 48em) {
  .social-privacy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.social-privacy-container .social-links {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.38rem;
}
@media screen and (max-width: 48em) {
  .social-privacy-container .social-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.social-privacy-container .social-links .social-link {
  margin-right: 2.61rem;
}
@media screen and (max-width: 48em) {
  .social-privacy-container .social-links .social-link {
    margin: 0.5rem 1.61rem;
  }
}
.social-privacy-container .social-links .social-link a {
  text-decoration: none;
}
.social-privacy-container .social-links .social-link img {
  width: 1.55rem;
  height: auto;
  max-width: unset;
}
@media screen and (min-width: 48em) {
  .social-privacy-container .social-links .social-link:last-child {
    margin-right: 0;
  }
}
.social-privacy-container .social-links .social-link:hover a img {
  animation: fadeInOut 2s infinite;
}
.social-privacy-container .privacy-links {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;
}
@media screen and (min-width: 48em) {
  .social-privacy-container .privacy-links {
    margin-bottom: 0;
  }
}
.social-privacy-container .privacy-links .privacy-link {
  font-size: 0.75em;
  margin-right: 2.5rem;
}
.social-privacy-container .privacy-links .privacy-link a {
  text-decoration: none;
}
.social-privacy-container .privacy-links .privacy-link a:hover {
  color: var(--link-hover);
}
.social-privacy-container .privacy-links .privacy-link:last-child {
  margin-right: 0;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
