.text-image-overlay-container {
  position: relative;
  top: 0;
  left: 0;
  padding: 2.66rem 2rem 1.61rem;
  background-color: var(--lightgrey);
  max-width: 68.61rem;
}
@media screen and (min-width: 103.125em) {
  .text-image-overlay-container {
    padding: 4.66rem 5rem 3.61rem;
  }
}
.text-image-overlay-container .text {
  max-width: 34.44rem;
}
.text-image-overlay-container .image-overlay {
  display: flex;
  justify-content: flex-end;
  margin-top: 4.44rem;
}
@media screen and (min-width: 67.5em) {
  .text-image-overlay-container .image-overlay {
    position: absolute;
    bottom: -5rem;
    right: 0;
  }
}
@media screen and (min-width: 103.125em) {
  .text-image-overlay-container .image-overlay {
    bottom: -5rem;
    right: -11rem;
  }
}
.text-image-overlay-container .image-overlay img {
  width: 100%;
  height: auto;
  max-width: 29rem;
}
