<f:comment>
    -------------
    Für ein neues Desktop Menü muss lediglich eine neue HTML Datei im Partial Ordner erstellt werden
    und der Name der Datei in die Variable lib.menuPartialName eingetragen werden.
    -------------
    Variable: EXT:lynx/Configuration/TypoScript/Helper/DynamicContent.typoscript
    Partial: EXT:lynx/Resources/Private/Partials/Page
</f:comment>

<section class="page-navigation">
    <f:render partial="{f:cObject(typoscriptObjectPath:'lib.desktopMenuPartialName')}" arguments="{_all}" />
    <f:render partial="{f:cObject(typoscriptObjectPath:'lib.mobileMenuPartialName')}" arguments="{_all}" />
</section>

<f:render section="Main" arguments="{_all}" />
