<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:asset.css identifier="swiper_bundle" href="{f:uri.resource(path:'Frameworks/swiper-bundle.min.css', extensionName: 'lynx')}" />
<f:asset.css identifier="slider" href="{f:uri.resource(path:'Css/slider.css', extensionName: 'lynx')}" />
<f:asset.script identifier="slider" type="module" src="{f:uri.resource(path:'JavaScript/Src/slider.js', extensionName: 'lynx')}" />

<lynx:container containerData="{data}">
    <div class="flex flex--gaps break--{data.breakpoint}">

        <div class="flex--100 slider-content">
            <div class="swiper-wrapper">
                <f:for each="{children_201}" as="element">
                    {element.renderedContent -> f:format.raw()}
                </f:for>
            </div>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

    </div>
</lynx:container>

</html>
