<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<nav class="desktop hidden xl:flex justify-between items-center py-4">
  <div class="flex items-center">
    <f:cObject typoscriptObjectPath="lib.logo" />
  </div>

  <div class="flex gap-8">
    <ul class="flex flex-wrap gap-8">
      <f:for each="{navigation}" as="navigationItem">
        <li class="level1 relative group{f:if(condition:'{navigationItem.children}',then:' has-children')}">
          <a class="font-semibold{f:if(condition: navigationItem.active, then:' active')}" href="{navigationItem.link}"
            target="{navigationItem.target}" title="{navigationItem.title}">
            {navigationItem.title}
          </a>

          <f:if condition="{navigationItem.children}">
            <ul class="hidden group-hover:flex flex-col gap-5 absolute py-8 px-6 bg-white shadow-sm -right-6 w-max">
              <f:for each="{navigationItem.children}" as="level2">
                <li class="level2">
                  <a class="{f:if(condition: level2.active, then:' active')}" href="{level2.link}" target="{level2.target}"
                    title="{level2.title}">
                    {level2.title}
                  </a>
                </li>
              </f:for>
            </ul>
          </f:if>
        </li>
      </f:for>
    </ul>

    <div>
      <a class="rounded-md bg-slate-800 text-white font-semibold py-3 px-6" href="/">Buy now</a>
    </div>

    <f:comment>
      <f:if condition="{languageNavigation}">
        <div class="content-lang-menu">
          <ul class="language-menu">
            <f:for each="{languageNavigation}" as="item">
              <f:if condition="{item.active}">
                <li class="active">{item.title} / <f:format.case>{item.twoLetterIsoCode}</f:format.case></li>

                <ul class="language" id="language">
                  <f:for each="{languageNavigation}" as="item">
                    <f:if condition="{item.available}">
                      <f:if condition="{item.active}">
                        <f:then>
                          <li class="hreflang active" data-hreflang="{item.hreflang}" data-link="{item.link}">
                            {item.title} / <f:format.case>{item.twoLetterIsoCode}</f:format.case>
                          </li>
                        </f:then>
                        <f:else>
                          <li class="hreflang" data-hreflang="{item.hreflang}" data-link="{item.link}">
                            <a href="{item.link}">{item.title} / <f:format.case>{item.twoLetterIsoCode}</f:format.case></a>
                          </li>
                        </f:else>
                      </f:if>
                    </f:if>
                  </f:for>
                </ul>
              </f:if>
            </f:for>
          </ul>
        </div>
      </f:if>
    </f:comment>
  </div>
</nav>

</html>
