<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<nav class="mobile">
  <div class="mobile-logo">
    <f:cObject typoscriptObjectPath="lib.logo" />
  </div>

  <div class="button-wrapper">
    <input type="checkbox" class="menu-button" id="menu-button" aria-label="Menu Button">
    <label for="menu-button" class="menu-label"></label>

    <div class="mobile-container">
      <div class="container mobile-content">
        <ul class="mobile-menu">
          <f:for each="{navigation}" as="navigationItem">
            <li class="parent{f:if(condition: navigationItem.children, then:' has-children')}">
              <f:if condition="{navigationItem.children} && {linkNonClickable} == 1">
                <f:then>
                  <span class="parent-link{f:if(condition: navigationItem.active, then:' active')}" title="{navigationItem.title}">
                    {navigationItem.title}
                  </span>
                </f:then>
                <f:else>
                  <a class="parent-link{f:if(condition: navigationItem.active, then:' active')}" href="{navigationItem.link}" target="{navigationItem.target}" title="{navigationItem.title}">
                    {navigationItem.title}
                  </a>
                </f:else>
              </f:if>
              <f:if condition="{navigationItem.children}">
                <ul class="mobile-dropdown">
                  <f:for each="{navigationItem.children}" as="child">
                    <li class="child">
                      <a class="child-link{f:if(condition: child.active, then:' active')}" href="{child.link}" target="{child.target}" title="{child.title}">
                        {child.title}
                      </a>
                    </li>
                  </f:for>
                </ul>
              </f:if>

              <f:if condition="{navigationItem.children}">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                    <path d="M8.18005 10L12.1801 14L16.1801 10" stroke="#0575ff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </f:if>
            </li>
          </f:for>
        </ul>
      </div>

      <f:comment>
        <div class="language-container">
          <f:if condition="{languageNavigation}">
            <ul id="language_menu" class="language-menu">
              <f:for each="{languageNavigation}" as="item">
                <li class="{f:if(condition: item.active, then: 'lang-active')} {f:if(condition: item.available, else: 'text-muted')}">
                  <f:if condition="{item.available}">
                    <f:then>
                      <a href="{item.link}" hreflang="{item.hreflang}" title="{item.title}">
                        <span>{item.navigationTitle}</span>
                      </a>
                    </f:then>
                    <f:else>
                      <span>{item.navigationTitle}</span>
                    </f:else>
                  </f:if>
                </li>
              </f:for>
            </ul>
          </f:if>
        </div>
      </f:comment>
    </div>
  </div>
</nav>
</html>
