<div class="copyright-container{f:if(condition:'{data.display_on}',then:' on-{data.display_on}')}{f:if(condition:'{data.space_left_class}',then:' frame-space-left-{data.space_left_class}')}{f:if(condition:'{data.space_right_class}',then:' frame-space-right-{data.space_right_class}')}{f:if(condition:'{data.space_before_class}',then:' frame-space-before-{data.space_before_class}')}{f:if(condition:'{data.space_after_class}',then:' frame-space-after-{data.space_after_class}')}">

  <div class="copyright-logo">
    <f:if condition="{data.tx_mask_copyright_image}">
      <f:for each="{data.tx_mask_copyright_image}" as="file">
        <f:image image="{file}" width="218" />
      </f:for>
    </f:if>
  </div>

  <div class="copyright-text">
    <f:if condition="{data.tx_mask_copyright_text}">
      <p>{data.tx_mask_copyright_text}</p>
    </f:if>
  </div>

</div>
