<f:asset.css identifier="copyright" href="fileadmin/lynx/scss/compiled/copyright.css" />

<lynx:container containerData="{data}" class="copyright-container">
  <div class="copyright-logo">
    <f:if condition="{data.tx_mask_copyright_image}">
      <f:for each="{data.tx_mask_copyright_image}" as="file">
        <f:render partial="Image" arguments="{file: file, loading: 'lazy'}" />
      </f:for>
    </f:if>
  </div>

  <div class="copyright-text">
    <f:if condition="{data.tx_mask_copyright_text}">
      <p>{data.tx_mask_copyright_text}</p>
    </f:if>
  </div>
</lynx:container>
