<div class="header-container{f:if(condition:'{data.display_on}',then:' on-{data.display_on}')}{f:if(condition:'{data.space_left_class}',then:' frame-space-left-{data.space_left_class}')}{f:if(condition:'{data.space_right_class}',then:' frame-space-right-{data.space_right_class}')}{f:if(condition:'{data.space_before_class}',then:' frame-space-before-{data.space_before_class}')}{f:if(condition:'{data.space_after_class}',then:' frame-space-after-{data.space_after_class}')}">

  <div class="top">
    <div class="left">
      <f:if condition="{data.tx_mask_header_text}">
        <div class="text">
          {data.tx_mask_header_text -> f:format.html()}
        </div>
      </f:if>
    </div>

    <div class="right">
      <f:if condition="{data.tx_mask_header_image}">
        <div class="image">
          <f:for each="{data.tx_mask_header_image}" as="file">
            <f:image image="{file}" />
          </f:for>
        </div>
      </f:if>
    </div>
  </div>

  <div class="scrolldown">
    <f:if condition="{data.tx_mask_header_scrolldown}">
      {data.tx_mask_header_scrolldown}
    </f:if>
  </div>

</div>
