<f:asset.css identifier="header" href="fileadmin/lynx/scss/compiled/header.css" />

<lynx:container containerData="{data}" class="header-container">
  <div class="top">
    <div class="left">
      <f:if condition="{data.tx_mask_header_text}">
        <div class="text">
          {data.tx_mask_header_text -> f:format.html()}
        </div>
      </f:if>
    </div>

    <div class="right">
      <f:if condition="{data.tx_mask_header_image}">
        <div class="image">
          <f:for each="{data.tx_mask_header_image}" as="file">
            <f:render partial="Image" arguments="{file: file}" />
          </f:for>
        </div>
      </f:if>
    </div>
  </div>

  <div class="scrolldown">
    <f:if condition="{data.tx_mask_header_scrolldown}">
      {data.tx_mask_header_scrolldown}
    </f:if>
  </div>
</lynx:container>
