<f:asset.css identifier="icon-text" href="fileadmin/lynx/scss/compiled/icon-text.css" />

<lynx:container containerData="{data}" class="icon-text-container">
  <f:if condition="{data.tx_mask_icon_text_repeater}">
    <f:for each="{data.tx_mask_icon_text_repeater}" as="data_item">
      <div class="element">
        <f:if condition="{data_item.tx_mask_icon_text_icon}">
          <div class="image">
            <f:for each="{data_item.tx_mask_icon_text_icon}" as="file">
              <f:render partial="Image" arguments="{file: file, loading: 'lazy'}" />
            </f:for>
          </div>
        </f:if>

        <f:if condition="{data_item.tx_mask_icon_text_text}">
          <div class="text">
            {data_item.tx_mask_icon_text_text -> f:format.html()}
          </div>
        </f:if>
      </div>
    </f:for>
  </f:if>
</lynx:container>
