<f:asset.css identifier="icon-text" href="fileadmin/lynx/scss/compiled/icon-text.css" />

<div class="icon-text-container{f:if(condition:'{data.display_on}',then:' on-{data.display_on}')}{f:if(condition:'{data.space_left_class}',then:' frame-space-left-{data.space_left_class}')}{f:if(condition:'{data.space_right_class}',then:' frame-space-right-{data.space_right_class}')}{f:if(condition:'{data.space_before_class}',then:' frame-space-before-{data.space_before_class}')}{f:if(condition:'{data.space_after_class}',then:' frame-space-after-{data.space_after_class}')}">

  <f:if condition="{data.tx_mask_icon_text_repeater}">
    <f:for each="{data.tx_mask_icon_text_repeater}" as="data_item">
      <div class="element">
        <f:if condition="{data_item.tx_mask_icon_text_icon}">
          <div class="image">
            <f:for each="{data_item.tx_mask_icon_text_icon}" as="file">
              <f:image image="{file}" additionalAttributes="{srcset: '{f:uri.image(image: file, maxWidth: 768)} 768w,{f:uri.image(image: file, maxWidth: 990)} 990w,{f:uri.image(image: file, maxWidth: 1200)} 1200w,{f:uri.image(image: file, maxWidth: 1440)} 1440w,{f:uri.image(image: file, maxWidth: 1900)} 1900w',sizes: '(min-width: 1200px) 50vw, 100vw'}" />
            </f:for>
          </div>
        </f:if>

        <f:if condition="{data_item.tx_mask_icon_text_text}">
          <div class="text">
            {data_item.tx_mask_icon_text_text -> f:format.html()}
          </div>
        </f:if>
      </div>
    </f:for>
  </f:if>

</div>
