<f:asset.css identifier="social-privacy" href="fileadmin/lynx/scss/compiled/social-privacy.css" />

<lynx:container containerData="{data}" class="social-privacy-container">
  <f:if condition="{data.tx_mask_social_repeater}">
    <div class="social-links">
      <f:for each="{data.tx_mask_social_repeater}" as="data_item">
        <div class="social-link">
          <f:if condition="{data_item.tx_mask_social_link}">
            <f:link.typolink parameter="{data_item.tx_mask_social_link}">
              <f:if condition="{data_item.tx_mask_social_icon}">
                <f:for each="{data_item.tx_mask_social_icon}" as="file">
                  <f:render partial="Image" arguments="{file: file, loading: 'lazy'}" />
                </f:for>
              </f:if>
            </f:link.typolink>
          </f:if>
        </div>
      </f:for>
    </div>
  </f:if>

  <f:if condition="{data.tx_mask_privacy_repeater}">
    <div class="privacy-links">
      <f:for each="{data.tx_mask_privacy_repeater}" as="data_item">
        <div class="privacy-link">
          <f:if condition="{data_item.tx_mask_privacy_link}">
            <f:link.typolink parameter="{data_item.tx_mask_privacy_link}">
              <f:if condition="{data_item.tx_mask_privacy_title}">
                {data_item.tx_mask_privacy_title}
              </f:if>
            </f:link.typolink>
          </f:if>
        </div>
      </f:for>
    </div>
  </f:if>
</lynx:container>
