<f:asset.css identifier="text-image-overlay" href="fileadmin/lynx/scss/compiled/text-image-overlay.css" />

<div class="text-image-overlay-container{f:if(condition:'{data.space_before_class}',then:' frame-space-before-{data.space_before_class}')}{f:if(condition:'{data.space_after_class}',then:' frame-space-after-{data.space_after_class}')}{f:if(condition:'{data.padding_top}',then:' frame-space-inline-before-{data.padding_top}')}{f:if(condition:'{data.padding_bottom}',then:' frame-space-inline-after-{data.padding_bottom}')}">

  <div class="text">
    <f:if condition="{data.tx_mask_text_image_overlay_text}">
      {data.tx_mask_text_image_overlay_text -> f:format.html()}
    </f:if>
  </div>

  <div class="image-overlay">
    <f:if condition="{data.tx_mask_text_image_overlay_image}">
      <f:for each="{data.tx_mask_text_image_overlay_image}" as="file">
        <f:render partial="Image" arguments="{file: file, loading: 'lazy'}" />
      </f:for>
    </f:if>
  </div>

</div>
