@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
}

picture {
  max-width: 100%;
}

img {
  max-width: 100%;
}

iframe {
  width: 100%;
  height: auto;
  background-color: var(--black);
  border: 0;
  aspect-ratio: 16 / 9;
}

video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  margin: 0;
  object-fit: cover;
}
