<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="container--{data.layout}{f:if(condition:'{data.space_left_class}',then:' frame-space-left-{data.space_left_class}')}{f:if(condition:'{data.space_right_class}',then:' frame-space-right-{data.space_right_class}')}{f:if(condition:'{data.space_before_class}',then:' frame-space-before-{data.space_before_class}')}{f:if(condition:'{data.space_after_class}',then:' frame-space-after-{data.space_after_class}')}">
    <f:if condition="{data.header_layout} != 100">
        <f:if condition="{data.header} || {data.subheader}">
            <header>
                <f:if condition="{data.header}">
                    <h2 class="{f:if(condition:'{data.header_position}',then:'ce-headline-{data.header_position}')}">
                        <f:if condition="{data.header_link}">
                            <f:then><f:link.typolink parameter="{data.header_link}">{data.header}</f:link.typolink></f:then>
                            <f:else>{data.header}</f:else>
                        </f:if>
                    </h2>
                </f:if>
                <f:if condition="{data.subheader}">
                    <h3 class="{f:if(condition:'{data.header_position}',then:'ce-headline-{data.header_position}')}">{data.subheader}</h3>
                </f:if>
            </header>
        </f:if>
    </f:if>

    <div class="flex--{f:if(condition:'{data.flexform_breakpoint}',then:'{data.flexform_breakpoint}',else:'md')} flex--space-between{f:if(condition:'{data.frame_class}',then:' {data.frame_class}')}{f:if(condition:'{data.frame_class_extra}',then:' {data.frame_class_extra}')}">
        <div class="flex--{f:if(condition:'{data.flexform_breakpoint}',then:'{data.flexform_breakpoint}',else:'md')}-80">
            <f:format.raw>{data.tx_gridelements_view_column_401}</f:format.raw>
        </div>
        <div class="flex--{f:if(condition:'{data.flexform_breakpoint}',then:'{data.flexform_breakpoint}',else:'md')}-20">
            <f:format.raw>{data.tx_gridelements_view_column_402}</f:format.raw>
        </div>
    </div>

    <f:if condition="{data.linkToTop}">
        <a href="#top" rel="nofollow"><f:translate key="top" extensionName="SitePackage">[TOP]</f:translate></a>
    </f:if>
</div>

</html>
