// Base px for rem
$rem-base: 16;

// Flex Sizes
$flex-sizes: (
  sm,
  md,
  lg,
  xl,
  2xl
);

// Breakpoints
$breakpoints: (
  xs: 15em,    // Ab 240px, based on 16px Browser's internal font-size
  sm: 40em,    // Ab 640px, based on 16px Browser's internal font-size
  md: 48em,    // Ab 768px, based on 16px Browser's internal font-size
  lg: 64em,    // Ab 1024px, based on 16px Browser's internal font-size
  xl: 80em,    // Ab 1280px, based on 16px Browser's internal font-size
  2xl: 96em    // Ab 1536px, based on 16px Browser's internal font-size
);
