// Base px for rem
$rem-base: 16;

// Flex Sizes
$flex-sizes: (
  sm,
  md,
  lg,
  xl,
  2xl
);

// Breakpoints
$breakpoints: (
  xs: 15em,    // From  240px, based on 16px browser's internal font-size
  sm: 40em,    // From  640px, based on 16px browser's internal font-size
  md: 48em,    // From  768px, based on 16px browser's internal font-size
  lg: 64em,    // From 1024px, based on 16px browser's internal font-size
  xl: 80em,    // From 1280px, based on 16px browser's internal font-size
  2xl: 96em    // From 1536px, based on 16px browser's internal font-size
);
