// Imports
@import 'functions';

// Accordion
.accordion {
  .accordion-header {
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: rem(18);
      height: rem(18);
      background-color: var(--primary);
      z-index: 0;
    }

    &::after {
      content: '-';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(18);
      height: rem(18);
      color: var(--white);
      z-index: 1;
      transition: 0.5s;
    }
  }

  &-content {
    overflow: hidden;
    transition: height 0.5s;
  }

  &-close {
    .accordion-header {
      &::after {
        content: '+';
        transform: translateY(-50%) rotate(90deg);
      }
    }

    .accordion-content {
      height: 0 !important;
    }
  }

  .accordion-bottom {
    height: rem(1);
    background-color: var(--primary);
    margin-top: rem(9);
  }
}
