// Imports
@import 'functions';
@import 'fonts';

:root {
  // Colors
  --black: #000;
  --white: #fff;
  --lightgrey: #eee;
  --text: #000;
  --link: #0575ff;
  --link-hover: #025cc9;
  --primary: #0575ff;
  --primary-text: #fff;
  --primary-rgb: 5 117 255;
  --secondary: #14161b;
  --secondary-text: #fff;

  // Base definitions
  --font-family: 'Inter';
  --font-size: 1.125em;
  --paragraph-line-height: 1.5;
  --error: #d42525;
  --warning: #e3ad40;
  --success: #88c433;

  --max-width: #{rem(1380)};
  --margin-x-min: #{rem(18)};
  --margin-x-max: calc((100vw - var(--max-width)) / 2);
  --column-gap: #{rem(36)};
  --row-gap: #{rem(36)};

  @media screen and (min-width: breakpoint(md)) {
    --margin-x-min: #{rem(36)};
  }

  @media screen and (min-width: breakpoint(lg)) {
    --margin-x-min: #{rem(72)};
  }
}

html {
  font-family: var(--font-family), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: var(--font-size);
  font-style: normal;
  font-variant: normal;
  font-weight: normal;

  scroll-behavior: smooth;
  scrollbar-width: thin; // Scrollbar: Firefox

  // 1920px (width) / 18 (font-size) / 100%
  @media screen and (min-width: 1921px) {
    font-size: calc(1vw - 1.0666666666666667px);
  }
}

body {
  width: 100%;
  padding: 0;
  margin: 0;

  // Scrollbar: Chrome + Safari
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 10px;

    &:hover {
      background-color: var(--link-hover);
    }
  }
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem;
  line-height: 1.25;
}

p {
  margin: 0 0 1rem;
}

p:last-of-type {
  margin: 0;
}

h1 {
  font-size: 2.88rem;
  line-height: 3.88rem;
  margin-bottom: 2.33rem;

  @media screen and (min-width: breakpoint(md)) {
    font-size: 3.88rem;
  }
}

h2 {
  font-size: 1.77rem;
  line-height: 2.77rem;
  margin-bottom: 2rem;

  @media screen and (min-width: breakpoint(md)) {
    font-size: 2.77rem;
  }
}

h3 {
  font-size: 1.38rem;
  line-height: 1.94rem;
  margin-bottom: 1.66rem;

  @media screen and (min-width: breakpoint(md)) {
    font-size: 1.94rem;
  }
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1.1rem;
}

a {
  color: var(--link);
  text-decoration: none;
  font-weight: 600;

  &:hover {
    color: var(--link-hover);
  }
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.83rem;
  margin: 0.25rem 0 0;
  background: var(--lightgrey);
  padding: 0.25rem 0.5rem;
}

picture {
  max-width: 100%;
}

img {
  max-width: 100%;
}

iframe {
  display: block;
  width: 100%;
  height: auto;
  background-color: var(--black);
  border: 0;
  aspect-ratio: 16 / 9;
}

video {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  margin: 0;
  object-fit: cover;
}

table {
  width: 100%;
  border-spacing: 0;

  tr:nth-child(2n) {
    background-color: var(--lightgrey);
  }

  th, td {
    text-align: left;
    vertical-align: top;
    padding: 0.5rem;
  }

  th {
    background-color: var(--lightgrey);
  }
}

button, select, textarea, input[type='text'], input[type='password'], input[type='email'], input[type='button'],
input[type='submit'], input[type='search'], input[type='hidden'], input[type='tel'], input[type='url'],
input[type='number'], input[type='date'] {
  padding: 0.25rem;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 3px;
  border: 1px solid;
  background-color: transparent;
}

button, input[type='button'], input[type='submit'] {
  padding: 0.25rem;
  color: var(--primary-text);
  background-color: var(--primary);
  border-color: var(--primary);

  &:hover {
    background-color: var(--link-hover);
    border-color: var(--link-hover);
  }
}

select {
  background: transparent url('../Icons/dropdown.svg') no-repeat right 0.25rem top 50%;
  background-size: 1.33rem auto;
  padding: 0.25rem 2rem 0.25rem 0.25rem;
}

select, button, input[type='button'], input[type='submit'] {
  cursor: pointer;
}

input[type='checkbox'], input[type='radio'] {
  width: 1.25rem;
  height: 1.25rem;
}
