// Imports
@import 'functions';
@import 'fonts';

:root {
  // Colors
  --black: #000;
  --white: #fff;
  --lightgrey: #eee;
  --text: #000;
  --link: #1e293b;
  --link-hover: #5f6f83;
  --primary: #1e293b;
  --primary-text: #fff;
  --primary-rgb: 5 117 255;
  --secondary: #14161b;
  --secondary-text: #fff;

  --scroll-padding-top: #{rem(100)};

  // Container
  --max-width: #{rem(1380)};
  --margin-x-min: #{rem(18)};
  --margin-x-max: calc((100vw - var(--max-width)) / 2);
  --max-x: max(var(--margin-x-min), var(--margin-x-max));

  @media screen and (min-width: breakpoint(md)) {
    --margin-x-min: #{rem(36)};
  }

  @media screen and (min-width: breakpoint(lg)) {
    --margin-x-min: #{rem(72)};
  }

  // Container XL
  --max-width-xl: #{rem(1536)};
  --margin-x-min-xl: #{rem(9)};
  --margin-x-max-xl: calc((100vw - var(--max-width-xl)) / 2);
  --max-x-xl: max(var(--margin-x-min-xl), var(--margin-x-max-xl));

  @media screen and (min-width: breakpoint(md)) {
    --margin-x-min-xl: #{rem(18)};
  }

  @media screen and (min-width: breakpoint(lg)) {
    --margin-x-min-xl: #{rem(36)};
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding-top);
  overflow-y: overlay;

  // 1920px (width) / 16 (font-size) / 100%
  @media screen and (min-width: 1921px) {
    font-size: calc(1vw - 3.2px);
  }
}

body {
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(128 128 128 / 50%);

    &:hover {
      background: rgb(0 0 0 / 75%);
    }
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
