// Imports
@import "functions";

// C/0001
.c0001 {
  .rte-content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      width: 100%;
      max-width: 45rem;
    }

    p,
    ul,
    ol {
      width: 100%;
      max-width: 33rem;
    }
  }
}

.c0001-center {
  >div {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .rte-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.c0001-right {
  >div {
    display: flex;
    justify-content: flex-end;
  }
}
