// Imports
@use 'mixins';
@use 'variables';

// Flex
.flex {
  display: flex;

  &--top {
    align-items: flex-start;
  }

  &--middle {
    align-items: center;
  }

  &--bottom {
    align-items: flex-end;
  }

  &--baseline {
    align-items: baseline;
  }

  &--stretch {
    align-items: stretch;
  }

  &--left {
    justify-content: flex-start;
  }

  &--center {
    justify-content: center;
  }

  &--right {
    justify-content: flex-end;
  }

  &--space-between {
    justify-content: space-between;
  }

  &--space-around {
    justify-content: space-around;
  }

  &--space-evenly {
    justify-content: space-evenly;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }

  &--top-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }

  &--top-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
  }

  &--top-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
  }

  &--top-between {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
  }

  &--top-around {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
  }

  &--top-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
  }

  &--middle-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &--middle-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }

  &--middle-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }

  &--middle-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &--middle-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  &--middle-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }

  &--bottom-center {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
  }

  &--bottom-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
  }

  &--bottom-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
  }

  &--bottom-between {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
  }

  &--bottom-around {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
  }

  &--bottom-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
  }

  &--baseline-center {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100%;
  }

  &--baseline-right {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    height: 100%;
  }

  &--baseline-left {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    height: 100%;
  }

  &--baseline-between {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 100%;
  }

  &--baseline-around {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    height: 100%;
  }

  &--baseline-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    height: 100%;
  }

  &--stretch-center {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
  }

  &--stretch-right {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    height: 100%;
  }

  &--stretch-left {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
  }

  &--stretch-between {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
  }

  &--stretch-around {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
  }

  &--stretch-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    height: 100%;
  }

  &--content-center {
    display: flex;
    align-content: center;
    height: 100%;
  }

  &--content-right {
    display: flex;
    align-content: flex-end;
    height: 100%;
  }

  &--content-left {
    display: flex;
    align-content: flex-start;
    height: 100%;
  }

  &--content-between {
    display: flex;
    align-content: space-between;
    height: 100%;
  }

  &--content-around {
    display: flex;
    align-content: space-around;
    height: 100%;
  }

  &--content-evenly {
    display: flex;
    align-content: space-evenly;
    height: 100%;
  }

  &--self-auto {
    display: flex;
    align-self: auto;
    height: 100%;
  }

  &--self-center {
    display: flex;
    align-self: center;
    height: 100%;
  }

  &--self-right {
    display: flex;
    align-self: flex-end;
    height: 100%;
  }

  &--self-left {
    display: flex;
    align-self: flex-start;
    height: 100%;
  }

  &--self-baseline {
    display: flex;
    align-self: baseline;
    height: 100%;
  }

  &--self-stretch {
    display: flex;
    align-self: stretch;
    height: 100%;
  }

  &--100 {
    width: 100%;
  }

  &--gaps {
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);
  }
}

.grid {
  &--gaps {
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);
  }
}

@each $name, $breakpoint in variables.$breakpoints {
  @include mixins.break(#{$name});
  @include mixins.flex-size(#{$name});
}
