// Imports
@use 'functions';
@use 'variables';

$mobile-max-gap: 50;

// Gaps variables
:root {
  @each $size in variables.$gaps {
    @if $size > $mobile-max-gap {
      --gap-#{$size}: calc((#{$mobile-max-gap} / 18) * 1rem);

      @media screen and (min-width: functions.breakpoint(md)) {
        --gap-#{$size}: calc((#{$size} / 18) * 1rem);
      }
    } @else {
      --gap-#{$size}: calc((#{$size} / 18) * 1rem);
    }
  }
}

// Gaps Generator
@each $size in variables.$gaps {
  .frame-space-before-#{$size} {
    margin-top: var(--gap-#{$size});
  }

  .frame-space-after-#{$size} {
    margin-bottom: var(--gap-#{$size});
  }

  .frame-space-inline-before-#{$size} {
    padding-top: var(--gap-#{$size});
  }

  .frame-space-inline-after-#{$size} {
    padding-bottom: var(--gap-#{$size});
  }
}
