// Imports
@import 'functions';

// Mobile Navigation
nav.mobile {
  padding-left: var(--margin-x-min);
  padding-right: var(--margin-x-min);

  .mobile-logo {
    svg, img {
      width: auto;
      height: rem(40);
    }
  }

  .menu-label {
    position: absolute;
    top: rem(18);
    left: 0;
    width: rem(27);
    height: rem(2);
    background: var(--black);
    z-index: 5;

    &::before {
      content: '';
      position: absolute;
      top: rem(-12);
      left: 0;
      width: rem(36);
      height: rem(2);
      background: var(--black);
      transition: transform 0.25s;
    }

    &::after {
      content: '';
      position: absolute;
      top: rem(12);
      left: 0;
      width: rem(36);
      height: rem(2);
      background: var(--black);
      transition: transform 0.25s;
    }
  }

  .menu-button {
    position: relative;
    top: 0;
    left: auto;
    right: 0;
    width: rem(36);
    height: rem(36);
    appearance: none;
    opacity: 0;
    cursor: pointer;
    margin: 0;
    z-index: 10;

    &:hover {
      &::before {
        top: 0;
        right: 0;
      }
    }

    &:checked {
      &::before {
        opacity: 0;
      }

      & ~ .menu-label {
        background: transparent;

        &::before,
        &::after {
          background: var(--black);
        }

        &::before {
          transform: rotate(-45deg) translate(-8px, 8px);
        }

        &::after {
          transform: rotate(45deg) translate(-9px, -8px);
        }
      }

      & ~ .mobile-container {
        right: 0;
      }
    }
  }
}
