// Imports
@import 'functions';

// Desktop Navigation code here...
nav.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--margin-x-min);

  @media not screen and (min-width: breakpoint(lg)) {
    display: none;
  }

  .desktop-logo {
    display: flex;
    align-items: center;
  }

  .language-menu {
    position: relative;
    top: 0;
    right: 0;
    list-style: none;
    font-weight: bold;
    padding: 1rem;
    margin: 0 1rem 0 0;
    cursor: pointer;

    ul {
      list-style: none;
    }

    a {
      font-size: 1.11em;
      text-decoration: none;
      color: var(--link);

      &:hover {
        color: var(--link-hover);
      }
    }

    &::after {
      content: url('../Icons/dropdown.svg');
      position: absolute;
      top: 50%;
      right: -0.5rem;
      transform: translateY(-40%);
      transition: 0.25s;
    }

    .language {
      display: none;
      position: absolute;
      top: 3rem;
      right: -1rem;
      min-width: 5rem;
      background-color: var(--white);
      text-align: right;
      border-top: 0;
      padding: 0.5rem 0;

      li {
        font-size: 0.9em;
        font-weight: normal;
        padding: 0.5rem 2rem;
        white-space: nowrap;
      }
    }

    &:hover {
      .language {
        display: block;
      }

      &::after {
        animation: fadeInOut 2s infinite;
      }
    }
  }

  .desktop-menu-wrapper {
    display: flex;
    align-items: center;
    column-gap: rem(36);
    row-gap: rem(18);

    .desktop-link-wrapper {
      display: flex;
      column-gap: rem(18);
      row-gap: rem(18);
      list-style: none;
      padding: 0;
      margin: 0;

      .level1 {
        position: relative;
        top: 0;
        right: 0;
        font-weight: 400;
        padding: rem(36) rem(18);

        .desktop-dropdown {
          display: none;
          position: absolute;
          top: rem(72);
          right: rem(-18);
          width: max-content;
          text-align: right;
          background: var(--white);
          padding: rem(9) 0;
          box-shadow: 0 rem(5) rem(5) rgb(0 0 0 / 5%);

          .level2 {
            list-style: none;
            margin: 0;
            font-size: rem(18);
            font-weight: normal;
            padding: rem(9) rem(36);
          }
        }

        &:hover {
          .desktop-dropdown {
            display: block;
          }
        }

        &:first-child {
          font-size: 1.11rem;
          text-decoration: none;
          color: var(--text);

          &:hover {
            color: var(--link-hover);
          }
        }
      }

      .has-children {
        &::after {
          content: url('../Icons/dropdown.svg');
          position: absolute;
          top: 50%;
          right: rem(-6);
          transform: translateY(-40%);
        }
      }
    }

    .desktop-btn-wrapper {
      a:not(:hover) {
        background: transparent;
      }
    }
  }
}
