<f:if condition="{data.header}">
    <h1 style="color: #0575ff">{data.header}</h1>
</f:if>

<f:if condition="{data.tx_mask_media}">
    <div style="display: flex; flex-wrap: wrap; column-gap: 1rem; row-gap: 1rem;">
        <f:for each="{data.tx_mask_media}" as="file">
            <f:media id="f{file.uid}" file="{file}" width="560" height="315" additionalAttributes="{allow: 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen: ''}" />
            <f:if condition="{file.description}">
                <figcaption>
                    {file.description}
                </figcaption>
            </f:if>

            <script>
                const iframe = document.querySelector('#' + 'f{file.uid}')
                if (iframe) {
                    iframe.setAttribute('data-src', iframe.src)
                    iframe.src = ''
                }
            </script>
        </f:for>
    </div>
</f:if>

<f:if condition="{data.tx_mask_selectbox}">
    <p>Style: <span style="color: #0575ff">{data.tx_mask_selectbox}</span></p>
</f:if>
