<f:if condition="{data.header}">
    <h1 style="color: #0575ff">{data.header}</h1>
</f:if>

<f:if condition="{data.image}">
    <div style="display: flex; column-gap: 1rem;">
        <f:for each="{data.image}" as="file">
            <figure style="width: 100%;">
                <picture>
                    <f:image image="{file}" width="200" style="width: 100%;" />
                </picture>
                <f:if condition="{file.description}">
                    <figcaption>
                        {file.description}
                    </figcaption>
                </f:if>
            </figure>
        </f:for>
    </div>
</f:if>

<f:if condition="{data.tx_mask_selectbox}">
    <p>Style: <span style="color: #0575ff">{data.tx_mask_selectbox}</span></p>
</f:if>
